
body {
background-color:#E3E9A9;
padding: 0em 3em 0em 1em;
}
header {
font-family: cursive;
color: #3B4011;
text-shadow: #0E0F00 2px 2px 3px;
text-align: right;
position : relative;
z-index: 1;

}
h1{
font-size: 3em;
margin: 20px 0 0 0 ;
}
h2{
margin:  0  0 20px 0 ;
}
footer {
font-family: cursive;
color: #D9E27D;
text-shadow: #282B0B 2px 2px 3px;
font-size: 18em;
top: 39vh;
right : 5vw;
position : fixed;
z-index: 1;
}
.article{
position : relative;
font-size: 2em;
color : #D9E27D;
font-family: monospace;
z-index: 2;
}
