
<footer>
<p id="info" class="outro">
 Les articles portent sur les liens entre internet//l'ornementation//la décroissance.
 Ceci est un site statique / mémoire de master Création Numérique (Ecole d'Art et de Design de Saint Etienne)/<br> généré grâce a Pelican et hébergé sur Render / Typographie utilisée <a href="https://typotheque.genderfluid.space/amiamie-rounded.html" style=" font-size : 12pt;"> Amiamie Round  par Mirat Masson</a> .
 ++ <a href="//www.heloisedebrand.fr">yhl</a>.
</p>
</footer>
