 <style>
 header h1{
 font-size: 1.5em;
 color:darkmagenta;
 text-align: center;
 font-family: cursive;
   margin: 0px;
 }
 header p{
 position: relative;
   font-size: 1em;
   margin-left: -200px; 

 }
 </style> 
 
 <header>
 <h1 >MémoireSelective.center</h1>
 <p title="Bonjour! Vous êtes actuellement sur un site statique généré grâce a Pelican et hébergé sur Render. Il contient une recherche en cours pour le mémoire que je poursuis en 4éme année numérique à l'école d'Art et de Design de Saint Etienne! Cette recherche porte sur les liens qui peuvent exister entre conception radicale et esthétique décorative. Bonne Lecture ! " class="info">
	 -+-+-+-+--+-+-+*-+--+-+-+-+--+-+-+-+-+infos.au.survol-+-+-+-+--+-+-+-+*--+-+-+-+--+-+-+-+--+-+-+-+--+-+-+*-+--+-+-+-+--+-+-+-+--+-+-+-+-*-+-+-+-+--+-+-+-+--+-+-+-+--+-+-*+-+--+-+-+-+--+-+-+-+--+-+-+-+--+-+-+-+--+-+-+-+--+-+-+-+-</p>
 </header>  
