
<details class="nav-ressources">
<summary><a><strong>Liens</strong></a></summary>
<a href="https://alt-text-as-poetry.net/"> AltTextAsPoetry </a>
<a href="https://html.energy/index.html"> HTML-ENERGY</a>
<a href="https://solar.lowtechmagazine.com/fr/2018/09/how-to-build-a-low-tech-website/"> LOW←TECH MAGAZINE / Low-tech website </a>
<a href="https://permacomputing.net"> Permacomputing </a>
 <!--<a href="https://designcommun.fr/cahiers/situer-le-numerique/">"Situer le numérique" par Gauthier Roussilhe</a>-->
 <a href="http://viznut.fi/unscii/">UNSCII par Viznut</a>
 <a href="https://typotheque.genderfluid.space/quni.html"> Typothéque ByeByeBinary </a>
</details>
