{% extends "base.html" %}
{% block content %}

<style>
body{
	background:black;
	overflow-x: scroll;
	}
.row{
position: relative;
width: 1000px;
min-height: 100vh;
margin: -10px;
padding: 30px;
background-color: white;
}
.content{
top: 150px;
font-size: 1.2em;
font-weight: normal;
margin-left: 15%;
width: 500px;
}
p{
line-height: 30px;
word-break: normal;
}
label{
padding-top: -10px;
font-size: 14px;
}
.back{
	color: black;
	font-size: 14pt;
	text-decoration: none;
	color: darkmagenta;
	}
.back:hover{
color: black;
}
.espace{
height: 300px;
position: relative;
width: 100%;
}

	@media screen and (max-width: 1000px) and (min-height:1000px){
		.row{
			font-size: 2em;
			}
		}
/*faire un bouton pour continuer la lecture comme un livre sans scroll
.button{
position: absolute;
top: 90vh;
left:90vw;
}
#suite1{
position: absolute;
top: 90vh;
left: 210vw;
}*/
</style>
<section class="row">
  <h1 style="margin-bottom:0px;padding-bottom:0px;">{{ article.title }}</h1>
  <label>mise en ligne le {{ article.date|strftime('%d %B %Y') }}</label>
  <div class="content"><p >{{ article.content }}</p></div>
{% for cat, articles in categories|sort %}
<a href="/{{cat.url}}" class="back">Retour aux {{cat}} </a> <br>
{% endfor %}
 </section>
{% endblock %}
