{% extends "index.html"%}

{% block liste %}
<div class="extrait-liste" style="display:flex; flex-direction:column; top: 25vh; position: relative;">
	

<h1 style="font-size: 1.6em; margin: 0px;">{{category}}</h1>
{% for article in articles %}

<h2 class="list-element-title" style="font-size: 1.3em; margin: 0px;">
	<a href='/{{ article.url }}' class="titles" style="margin: 0px;">{{ article.title }}</a>
</h2>
<p style=" margin: 0px; font-size: 0.4em;">{{ article.summary}}</p>
{% endfor %}
</div>
{% endblock %}




