{% extends "index.html"%}

{% block liste %}

<div class="extrait-liste" style="display:flex; flex-wrap:wrap; flex-direction: column;"  >
	
{% for article in articles %}
<div class="summary" style="margin: 20px 0px 0 50px; max-width: 400px;">
<h2 class="list-element-title" style="font-size: 12pt; margin: 0px;">
	<a href='/{{ article.url }}' class="titles" style="margin: 0px;"><span style="color:white; font-size:16pt;">♦    </span>{{ article.title }}</a>
</h2>
{{ article.summary}}
</div>
{% endfor %}
</div>
{% endblock %}




