{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<style>h1{
	position: relative;
	color : #D9E27D;
	font-family : cursive;
	font-size: 4em;
	text-shadow: #666717 4px 3px 5px;
	text-align: right;
	margin: 20px 0 0 0 ;
}
.article, a{
	padding-top: 10px;
	position: relative;
	font-family : Verdana, Verdana, Geneva, sans-serif;
	font-size : 1.2em;
	color: black;
	}
h2{
	background-color: #E1E5BF;
	font-family : cursive;
	font-size: 4em;
	box-shadow:  #E1E5BF 0 0 50px 10px;
	border-radius: 8px;
	padding:  10px;
	position: absolute;
	top: 9vh;
	left : -100px;
	font-size: 1.2em;
	cursor : help;
}
.corp{
	padding:  10px;
	width: 47vw;
	height: 70vh;
	border-radius: 8px;
	position : absolute;
	top : 20vh;
	z-index : 2;}
</style>
<div class="row">
 <div class="col-md-8">
  <h1>MémoireSelective.center</h1>
  <h2 title="*Bienvenue*  Ce site est le support de diffusion de mon mémoire !                                                                                                                                                                                                                                        ici je m'intéresse aux liens entre esthetique/ choix techniques tendant vers la low tech/ et le craftweb !                                                                         *Bonne lecture*">+++infos+au+survol+++++++++infos+au+survol+++++++++infos+au+survol+++++++++infos+au+survol+++++++++infos+au+survol+++++++++infos+au+survol+++++++++++++++infos+au+survol+++++++++++++++infos+au+survol+++++++++++++++infos+au+survol+++++++++</h2>
  <div class="corp">
  {% for article in articles %}
  
   <div class="article"><a href="/{{ article.slug }}.html">{{ article.title }}</a>
   <label><br>Mise en ligne le {{ article.date|strftime('%d %B %Y') }}</label></div>
  <!-- {{ article.content|truncate(110) }} -->
  {% else %}
   No posts yet!
  {% endfor %}
 </div>
</div>
{% endblock %}
</div>
